/* Los estilos personalizados van aquí */
/* Por ejemplo: */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.black-bg-futuristic {
  background-color: #000; /* Color de fondo negro */
  /* Agrega aquí cualquier estilo futurista adicional que desees */
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

h1, h2, h3, h4 {
  color: #333;
}

img {
  max-width
